<%- include("partials/_header") %>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
         <!-- header -->
         <%- include("partials/_menu") %>
      <!-- end header inner -->
      <!-- about -->
      <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <span>About</span>
                <h2>Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit lorem sit amet urna hendrerit, vel venenatis odio elementum. Vestibulum hendrerit et sem at pulvinar. Nam tincidunt rhoncus nisl eget consectetur. </p>
                <a class="read_more" href="<%= user ? 'users/dashboard' : '/register' %>">Join</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_img">
                <figure><img src="images/about_img.png" alt="#"/></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end about -->
      <!-- end footer -->
      <%- include("partials/_footer") %>